pipeline/pl_master_IncrementalCopyMultipleTables.json
{
	"name": "pl_master_IncrementalCopyMultipleTables",
	"properties": {
		"activities": [
			{
				"name": "LookupConfig",
				"description": "Get the table name and the watermark column for each table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachConfigEntry",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupConfig').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute pl_IncrementalCopyOneTable_Parameterized",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child_IncrementalCopyMultipleTables",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@{item().TableName}",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@{item().WatermarkColumn}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "IncrementalCopyMultipleTables"
		},
		"annotations": []
	}
}